html, body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.form-container {
    background-image: url("../img/bg.png");
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding-bottom: 74px;
}



.nav-container {
    width: 100vw;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 79px;
}

.logo {
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.logo:hover {
    color: #01813F;
    transition: 0.5s;
}

.nav-links-container {
    display: flex;
    color: #FFFFFF;
    margin-right: 79px;
    width: 347px;
    justify-content: space-between;
}


.calendar-link{
    position: relative;
}


.calendar-link:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icons/calendar-secondary-icon.svg");
    width: 21px;
    height: 24px;
    z-index: 33;
    opacity: 0;
}

.calendar-link:hover.calendar-link:after{
    opacity: 1;
    transition: 0.5s;
}

.calendar-link:hover.calendar-link-image{
    display: none;
}


.mail-link{
    position: relative;
}


.mail-link:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icons/mail-secondary-icon.svg");
    width: 24px;
    height: 24px;
    opacity: 0;
}

.mail-link:hover.mail-link:after{
    opacity: 1;
    transition: 0.5s;
}

.nav-link{
    position: relative;
}


.nav-link:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icons/nav-secondary-icon.svg");
    width: 23px;
    height: 24px;
    opacity: 0;
}

.nav-link:hover.nav-link:after{
    opacity: 1;
    transition: 0.5s;
}



.welcome-text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.welcome-text:before{
    content: "";
    position: absolute;

    left: -18px;
    bottom: 4px;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.welcome-text a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}


.welcome-text a:hover{
    color: #01813F;
    transition: 0.5s;
}


.sign-up-title-container {
    display: flex;
    justify-content: space-between;
    width: 324px;
    margin: 0 auto;
    align-items: center;
}

.sign-up-title {
    font-size: 20px;
    line-height: 20px;
}

.sign-up-container-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

}

.sign-up {
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    padding-top: 30px;
    padding-bottom: 38px;
    box-sizing: border-box;
    position: relative;
}

.sign-up:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 29px;
    left: 0;
}

.secondary-link {
    text-align: right;
    text-decoration: none;
    display: block;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.secondary-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.5s;
}

.buttons-container {
    display: flex;
    width: 328px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.facebook{
    width: 160px;
    display: flex;
    align-items: center;
    background: #305DB8;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.facebook:hover{
    background: #022263;
    transition: 0.5s;
}

.icon-facebook{
    width: 12px;
    height: 24px;
    margin-right: 42px;
}

.facebook:after{
    content: "";
    position: absolute;
    background: #0A162F;
    width: 1px;
    height: 28px;
    top: 10px;
    left: 48px;
    opacity: 0.1;
}


.google{
    width: 160px;
    display: flex;
    align-items: center;
    background: #DF4A32;
    padding-left: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.google:hover{
    background: #AB1F09;
    transition: 0.5s;
}


.icon-google{
    width: 30px;
    height: 19px;
    object-fit: cover;
    margin-right: 38px;
}

.google:after{
    content: "";
    position: absolute;
    background: #0A162F;
    width: 1px;
    height: 28px;
    top: 10px;
    left: 50px;
    opacity: 0.1;
}

.sign-up-container-secondary {
    width: 324px;
    margin: 0 auto;
    position: relative;
}

.dividing-title {
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 11px;
}

.sign-up-container-secondary::before{
    content: "";
    position: absolute;
    background: #F2F2F2;
    width: 152px;
    height: 1.5px;
    top: 7px;
    left: 0;
    opacity: 1;
}

.sign-up-container-secondary::after{
    content: "";
    position: absolute;
    background: #F2F2F2;
    width: 152px;
    height: 1.5px;
    top: 7px;
    left: 171px;
    opacity: 1;
}

.text-input-field {
    box-sizing: border-box;
    width: 324px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    font-family: Ubuntu, sans-serif;
}

.text-input-field::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
    font-family: Ubuntu, sans-serif;
}

.custom-checkbox-block {
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    cursor: pointer;
}

.terms-link {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.terms-link:hover{
    color: #01813F;
    border-bottom: 1px #01813F solid;
    padding-bottom: 2px;
    transition: 0.2s;
}

.checkbox {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-checkbox-block:before {
    content:'';
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox:checked + .custom-checkbox-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 7px;
    width: 6px;
    height: 14px;
    border:  solid #3CB878;
    border-width: 0 3px 3px 0;
    transform: rotate(41deg);
}



.text-input-field:focus {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    color: #434343;
    font-family: Ubuntu, sans-serif;
}

.text-input-field:focus::placeholder{
    color: #434343;
}

.create-button{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.create-button:hover {
    background: #01813F;
    transition: 0.5s;
}








